/* GENERAL */

* {
  font-family: "Raleway", sans-serif;

  box-sizing: border-box;

  margin: 0px;
  padding: 0px;
  border: 0px solid black;
}
html {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  max-width: 1400px;
  padding: 0 50px 0 50px;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.1em;
}

p {
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
}

.logo {
  height: 20px;
  margin-top: 45px;
}

.navbar-links {
  margin-left: 40px;
  padding: 45px 15px 45px 15px;
  color: black;
}

.navbar-links:hover {
  color: #0065fc;
  border-top: #0065fc 3px solid;
}

/* SEARCH SECTION */

.search-section {
  margin-top: 25px;
}

h1 {
  margin-bottom: 8px;
}

/* search form */

.search-form {
  display: flex;

  position: relative;

  height: 50px;
  width: fit-content;
  margin-top: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
}

.location-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  height: 48px;
  width: 50px;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;

  font-size: 1.3em;
}

.search-input {
  width: 450px;
  padding-left: 70px;
  padding-right: 155px;
  border-radius: 15px;

  font-size: 1.2em;
  font-weight: bold;
}

.search-input:focus {
  outline: 2px solid #0065fc;
}

.submit-desktop {
  position: absolute;
  right: 0;

  height: 50px;
  border-radius: 0px 15px 15px 0px;
  background-color: #0065fc;
  padding-left: 20px;
  padding-right: 20px;

  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

.submit-mobile {
  display: none;
}

/* search filters */

.filters-container {
  display: flex;
}

.filters-title {
  display: flex;
  align-items: center;

  font-size: 1.25em;

  margin-top: 35px;
}

.filters-list {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
}

.filter {
  display: flex;
  white-space: nowrap;

  margin-top: 35px;
  margin-left: 2%;
  padding: 11px 20px 11px 20px;

  border: #e0e0e0 3px solid;
  border-radius: 40px;

  cursor: pointer;
}

.filter:hover {
  background-color: #deebff;
}

.filter-icon {
  display: flex;
  align-items: center;

  font-size: 1.3em;
  color: #0065fc;
}

.filter-content {
  margin-left: 10px;

  font-weight: bold;
  font-size: 1.2em;
}

.free-accommodation {
  display: flex;
  align-items: center;

  margin-top: 40px;
}

.i-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 1.9em;
  width: 1.9em;
  margin-right: 15px;
  border-radius: 1em;
  border: 1px solid #d3d3d3;

  font-size: 0.8em;
  color: #0065fc;
}

/* ACCOMMODATION SECTION */

.accommodation-section {
  display: flex;
  justify-content: space-between;

  margin-top: 40px;
}

.grey-container {
  background-color: #f2f2f2;
  border-radius: 30px;
}

/* filtered accommodations */

.filtered-accommodations {
  width: 66%;
  padding: 45px 3% 45px 3%;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.filtered-accommodations .card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-top: 30px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 10px#d0d0d0;
}

.filtered-accommodations .card {
  display: flex;
  flex-direction: column;

  min-height: 205px;
  width: 31%;
  padding: 5px;
}

.card-img {
  object-fit: cover;
}

.filtered-accommodations .card-img {
  width: 100%;
  height: 110px;
  border-radius: 15px 15px 0px 0px;
}

.card-content {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-direction: column;

  margin: 10px;
}

.card p {
  font-size: 0.9em;
  margin-top: 5px;
}

.rating {
  display: flex;
  font-size: 0.8em;
  margin-top: 5px;
}

.blue-star {
  color: #0065fc;
}

.grey-star {
  color: #f2f2f2;
}

.show-more {
  width: fit-content;
  margin-top: 40px;

  font-size: 1.2em;
  font-weight: bold;

  cursor: pointer;
}

/* most popular */

.most-popular {
  width: 31%;
  padding: 45px 2.5% 45px 2.5%;
  height: fit-content;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-chart-line {
  font-size: 1.3em;
  color: #0065fc;

  margin-left: 10px;
}

.most-popular .card-container {
  display: flex;
  flex-direction: column;
}

.most-popular .card {
  display: flex;

  width: 100%;
  height: 160px;
  padding: 5px;

  object-fit: contain;
}

.most-popular .card-content {
  width: 58%;
  margin-left: 20px;
  padding-bottom: 0px;
}

.most-popular .card-img {
  min-width: 100px;
  width: 40%;
  height: 150px;
  border-radius: 15px 0px 0px 15px;
}

.most-popular .rating {
  margin: 0;
}

/* ACTIVITIES SECTION */
.activities-section {
  margin-top: 65px;
}

.activities-section .card {
  display: flex;
  flex-direction: column;

  min-height: 470px;
  width: 22.5%;
  margin-top: 20px;
  box-shadow: 0px 5px 10px#e1e1e1;
}

.activities-section .card-img {
  border-radius: 20px 20px 0px 0px;
  height: 420px;
  width: 100%;
}

.activities-section h4 {
  display: flex;
  align-items: center;
  flex-grow: 1;

  margin: 15px 20px 15px 20px;
}

/* FOOTER */

footer {
  margin-top: 65px;
  padding: 50px 22% 40px 70px;

  background-color: #f2f2f2;

  display: flex;
  justify-content: space-between;
}

.footer-list-container {
  margin-right: 25px;
}

h5 {
  font-size: 1.2em;
  white-space: nowrap;
}

.footer-list {
  margin-top: 20px;
}

.footer-list li {
  margin-bottom: 14px;
  white-space: nowrap;
}

/**********************************/

/* RESPONSIVE */

/**********************************/

/* TABLET */

@media screen and (max-width: 992px) {
  /*GENERAL */

  body {
    padding: 0 60px 0 60px;
  }

  h1 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.4em;
  }

  h4 {
    font-size: 0.95em;
  }

  p {
    font-size: 1em;
  }

  /* HEADER */

  .navbar-links {
    font-size: 0.95em;
  }

  /* SEARCH SECTION */

  /* search form */

  .location-icon {
    font-size: 1.2em;
  }

  .search-input {
    font-size: 1.1em;
    width: 420px;
  }

  .submit-desktop {
    font-size: 1.1em;
  }
  /* search filters */

  .filters-title {
    font-size: 1.15em;
  }

  .filter-icon {
    font-size: 1.2em;
  }

  .filter-content {
    font-size: 1.1em;
  }

  /* ACCOMMODATION SECTION */

  .accommodation-section {
    flex-direction: column;
  }

  .grey-container {
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
  }

  .card p {
    font-size: 0.85em;
    margin-top: 5px;
  }

  .rating {
    font-size: 0.7em;
    margin-top: 5px;
  }

  .show-more {
    font-size: 1.1em;
  }

  .most-popular {
    margin-top: 40px;
  }

  .most-popular .card-container {
    flex-direction: row;
  }

  /* most popular */

  .most-popular {
    padding-top: 30px;
  }

  .fa-chart-line {
    font-size: 1.2em;
  }

  .most-popular .card {
    width: 31.5%;
    height: 140px;
    margin-top: 20px;
  }

  .most-popular .card-content {
    margin: 5px 5px 5px 10px;
  }

  .most-popular h4 {
    font-size: 0.85em;
  }

  .most-popular p {
    font-size: 0.75em;
  }

  .most-popular .card-img {
    height: 130px;
  }

  .most-popular .rating {
  }

  /* ACTIVITIES SECTION */

  .activities-section .card {
    min-height: 250px;
    width: 21%;
  }

  .activities-section .card-img {
    height: 200px;
  }

  .activities-section h4 {
    font-size: 1.1em;
    margin: 10px 15px 10px 15px;
  }

  /* FOOTER */

  h5 {
    font-size: 1.1em;
  }

  .footer-list li {
    font-size: 0.9em;
    margin-bottom: 14px;
  }
}
