/* GENERAL */

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px solid black;
}

body {
  padding: 0 50px 0 50px;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.1em;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
}

.logo {
  height: 20px;
  margin-top: 45px;
}

.navbar-links {
  margin-left: 40px;
  padding: 45px 15px 45px 15px;
  color: black;
}

.navbar-links:hover {
  color: #0065fc;
  border-top: #0065fc 3px solid;
}

/* SEARCH SECTION */

.search-section {
  margin-top: 25px;
}

h1 {
  margin-bottom: 8px;
}

/* search form */

.search-form {
  position: relative;
  margin-top: 20px;
  width: fit-content;
  display: flex;
  border: 1px solid #f2f2f2;
  height: 50px;
  border-radius: 15px;
}

.location-icon {
  position: absolute;
  height: 48px;
  width: 50px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  border-radius: 15px 0px 0px 15px;
}

.search-input {
  width: 450px;
  padding-left: 70px;
  padding-right: 155px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 15px;
}

.search-input:focus {
  outline: 2px solid #0065fc;
}

.submit-desktop {
  position: absolute;
  height: 50px;
  right: 0;
  border-radius: 0px 15px 15px 0px;
  background-color: #0065fc;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

.submit-mobile {
  display: none;
}

/* search filters */

.filters-container {
  display: flex;
}

.filters-title {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  margin-top: 35px;
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  cursor: pointer;
  display: flex;
  margin-top: 35px;
  margin-left: 40px;
  list-style-type: none;
  padding: 11px 20px 11px 20px;
  border: #e0e0e0 3px solid;
  border-radius: 40px;
}

.filter:hover {
  background-color: #deebff;
}

.filter-icon {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  color: #0065fc;
}

.filter-content {
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.free-accommodation {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.i-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;

  height: 1.9em;
  width: 1.9em;
  border-radius: 1em;
  border: 1px solid #d3d3d3;

  font-size: 0.8em;
  color: #0065fc;
}

/* ACCOMMODATION SECTION */

.accommodation-section {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

/* filtered accommodations */

.filtered-accommodations {
  width: 66%;
  padding: 45px 3% 45px 3%;
}

.grey-container {
  background-color: #f2f2f2;
  border-radius: 30px;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.filtered-accommodations .card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-top: 30px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 10px#d0d0d0;
}

.filtered-accommodations .card {
  display: flex;
  flex-direction: column;
  min-height: 205px;
  width: 31%;
  padding: 5px;
}

.card-img {
  object-fit: cover;
}

.filtered-accommodations .card-img {
  width: 100%;
  height: 110px;
  border-radius: 15px 15px 0px 0px;
}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

.card h4 {
  font-size: 1.1em;
}

.card p {
  font-size: 0.9em;
  margin-top: 5px;
}

.rating {
  font-size: 0.8em;
  margin-top: 5px;
}

.blue-star {
  color: #0065fc;
}

.grey-star {
  color: #f2f2f2;
}

.show-more {
  width: fit-content;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 40px;
}

/* most popular */

.most-popular {
  width: 31%;
  padding: 45px 2.5% 45px 2.5%;
  height: fit-content;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-chart-line {
  font-size: 1.3em;
  color: #0065fc;
  margin-left: 10px;
}

.most-popular .card-container {
  display: flex;
  flex-direction: column;
}

.most-popular .card {
  display: flex;
  width: 100%;
  height: 160px;
  padding: 5px;
  object-fit: contain;
}

.most-popular .card-content {
  width: 58%;
  margin-left: 20px;
  padding-bottom: 0px;
}

.most-popular .card-img {
  min-width: 100px;
  width: 40%;
  height: 150px;
  border-radius: 15px 0px 0px 15px;
}

.most-popular .rating {
  margin: 0;
}

/* ACTIVITIES SECTION */
.activities-section {
  margin-top: 65px;
  margin-bottom: 50px;
}

.activities-section .card {
  display: flex;
  flex-direction: column;

  min-height: 470px;
  width: 22.5%;
  margin-top: 20px;

  box-shadow: 0px 5px 10px#e1e1e1;
}

.activities-section .card-img {
  border-radius: 20px 20px 0px 0px;

  height: 420px;
  width: 100%;
}

.activities-section h4 {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 15px 20px 15px 20px;
}
